button {
    z-index: 10;
    width: 150px;
    height: 50px;
    margin: 10vw;
}

#btn-div {
    margin-left: 10vw;
    margin-right: auto;
}

body {
    background-color: lightblue;
    width: 100vw;
    height: 60vh;
}

.small {
    font-size: 24px;
}

.big {
    font-size: 64px;
}

#main-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(mac-width:768px) {
    nav {
        width: 100;
        display: block;
    }
}

nav i {
    cursor: pointer;
}

#sidebar {
    transition: all 1s;
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 200px;
    /* visibility: hidden; */
    position: fixed;
    left: 20px;
    top: 25px;
    z-index: 100;
}

#sidebar ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding-top: 32px;
}

#sidebar ul li {
    padding-left: 0;
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}


/* #toggle-icon:hover #sidebar {
    visibility: visible;
} */

.hide {
    display: none;
    /* transform: translate(20px); */
}

.show {
    display: block;
    /* transform: translate(20px); */
}